[MASTER]
ignore =
    typings

[MESSAGES CONTROL]
disable =
    fixme,  ; Makes TODO lines not flag the CI
    line-too-long,  ; Line length is being entirely managed by black
    missing-function-docstring,
    no-name-in-module,
    missing-class-docstring,
    too-few-public-methods,
    invalid-name,
    missing-module-docstring,

[DESIGN]
max-locals = 25
max-args = 8
