.brain-button {
  display: inline-block;
  vertical-align: bottom;
  width: 44px;
  height: 44px;
}

.brain-button-link {
  border-radius: 20px;
  margin: 2px;
  padding: 8px;
  text-align: initial;
  cursor: pointer;
  display: inline-block;
}

.brain-button-link:hover {
  background-color: #e8eaed;
}
