@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-3xl;
}

h2 {
    @apply text-2xl;
}

h3 {
    @apply text-xl;
}

p {
    @apply text-base;
}

button{
    @apply inline-flex items-center leading-none rounded-md border uppercase border-transparent;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: white;
        color: black;
    }
}
