@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: white;
        color: black;
    }
}
